.loaderContainer {
  min-height: calc(100vh - 20em);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
  0% {
    box-shadow: 1.5em 0 var(--color-primary), -1.5em 0 var(--color-primary-muted);
    background: var(--color-primary-muted);
  }
  33% {
    box-shadow: 1.5em 0 var(--color-primary-muted), -1.5em 0 var(--color-primary-muted);
    background: var(--color-primary);
  }
  66% {
    box-shadow: 1.5em 0 var(--color-primary-muted), -1.5em 0 var(--color-primary);
    background: var(--color-primary-muted);
  }
}

.loaderDots {
  width: 1em;
  height: 1em;
  background: var(--color-primary-muted);
  color: var(--color-primary-muted);
  border-radius: 50%;
  box-shadow: 1.5em 0, -1.5em 0;
  animation: loading 1s infinite linear alternate;
}
