.wrapper {
  display: flex;
  gap: 1.3em;
  background-color: var(--color-surface);
  padding: 1em 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.2em 1.5em -0.8em var(--color-primary-muted);
}

.checkboxInput {
  color: var(--color-primary);
  padding: 0.5em 1em;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  font-weight: 600;
  margin-right: 0.5em;
  accent-color: var(--color-primary);
}

.label {
  color: var(--color-text);
  font-weight: 600;
  position: relative;
}

.numberOfCocktailsInfo {
  position: absolute;
  top: -40%;
  color: var(--color-text-muted);
  font-size: 0.7rem;
}
